* {
    box-sizing: border-box;
    touch-action: manipulation;
}

:root {
    --text-color: white;
    --padding: 20px;
    --root-height: 100vh;

    display: flex;

    color: var(--text-color);
    font-family: "SF Pro Text", -apple-system, sans-serif;

    /*overflow: hidden;*/

    background-color: rgb(71, 55, 142);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAG66AABuugHW3rEXAAAAB3RJTUUH5AgQAw84jLT1YgAAAAZiS0dEAP8A/wD/oL2nkwAAAaRJREFUKM8tkEuOFEEQQ21HRGZ1D98FSBwGcSeODmh6uqoyzKLGaz/Zevz18zcsQwRFzuDnwLfyj9E/5vo+j6/jeRtvOV/58s8vf3MtArRJsiVZD8Rf8w5ucGGBx5ueWffx6eP49iXXkkGApEQtx+F4Il+tf+BGi71rH+N++7jwfb0vgJBg01AzDuQT+XC8GkW3xlmLd+VXZvfVx7UD0IhmHhhPxANRhNVdzlttH5Q2APA9IoMMM9bFMN4ghlmac6xbpn1dEilJ1AVko07WgdoVEcjKc2xdSgAkJCpCSimpBKtZC+Pg2JkRGmM4p4XE1ZakkEoqqsgya3EcmIdqZDqHYxArycuoxFCkoqRBFTSs0Zqt4SzXJIN9JIGLoYJMqahBTWha09o6p3MwBgGdTgp890kwwKQGY2PcEDfnDbkxh5jqpWOlCAkELrtgOSbihrpj3DnurI0qNnXu+fZMCYQBww27ATM6y2N63j1fkBuRWh1756tSAgl6oU/30T4ba9FLdMqZiAKTZ+djrz/vgMG2z+6d69nr6d7t01igQRDUUjxUwH8e5MItAV4+6QAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wOC0xNlQwMzoxNTo1Ni0wNDowMDls7o4AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjAtMDgtMTZUMDM6MTU6NTYtMDQ6MDBIMVYyAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;

    height: var(--root-height);
}

@supports (-webkit-overflow-scrolling: touch) {
    @media (orientation: portrait) {
        :root {
            --root-height: calc(100vh - 75px);
        }
    }

    @media (orientation: landscape) {
        :root {
            --root-height: calc(100vh - 50px);
        }
    }
}

body {
    padding: var(--padding);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 100%;
    max-width: 600px;

    margin: auto;
}

a {
    color: inherit;
    text-decoration: unset;
}

header {
    --size: 60px;

    display: flex;
    height: var(--size);
    min-height: var(--size);
    margin: 0 -10px;
}

header figure {
    all: unset;
    margin-right: 10px;
}

.avatar {
    font-size: var(--size);
    line-height: var(--size);
    text-align: center;

    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    height: var(--size);
    width: var(--size);
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile .title {
    font-size: 20px;
    font-weight: normal;
    margin: unset;
}

.profile .caption {
    font-size: 14px;
    font-weight: 300;
    margin: unset;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;

    margin: var(--padding) 0;
}

main .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;
}

main .menu a {
    font-size: 38px;
    font-weight: 900;
    line-height: 1em;
}

main .menu a:after {
    display: block;
    font-size: 24px;
    margin-top: 5px;
}

a.works-link:after {
    content: '🛠 🧪 🏗 👶🏻 🖥 🖼 🖱';
}

a.projects-link:after {
    content: '🛰 🚀 🌐 🦈 📢';
}

footer {
    --size: 40px;

    height: var(--size);
    min-height: var(--size);
}

nav.icons {
    display: flex;
    justify-content: space-between;
}

.icons .github {
    background-image: url("../img/github.svg");
}

.icons .twitter {
    background-image: url("../img/twitter.svg");
}

.icons .facebook {
    background-image: url("../img/facebook.svg");
}

.icons .linkedin {
    background-image: url("../img/linkedin.svg");
}

.icons .telegram {
    background-image: url("../img/telegram.svg");
}

footer a {
    display: inline-block;

    width: var(--size);
    height: var(--size);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media (max-height: 280px), (max-width: 520px) and (max-height: 400px) {
    body {
        height: initial;
    }
}

@media (min-width: 370px) {
    .profile {
        text-align: left;

    }

    .profile .title {
        font-size: 26px;
    }

    .profile .caption {
        font-size: 18px;
        font-weight: 200;
    }

}

@media (orientation: landscape) and (max-height: 500px) {
    main .menu a:after {
        display: inline-block;
        margin-left: var(--padding);
    }
}

@media (min-height: 800px) {
    body {
        max-height: 800px;
    }
}

@media (min-width: 768px) {
    body {
        align-items: center;
        text-align: center;
    }

    nav.icons {
        min-width: calc(var(--size) * 5 * 2);
    }
}

@media (min-height: 580px) {
    main .menu {
        height: 400px;
    }
}
